<link rel='stylesheet' type='text/css' href='/css/profile.css' />
<header>
    {{> userprofile-header}}
</header>
<main>
    <div id="mainContainer" class="container custom-container mt-5 mb-5 custom-gutter">
        <div class="row">
            {{> user-details}}
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-2 p-sm-2 ">
                {{> navbar-details}}
            </div>
            <div class="col-sm-12 col-md-9">

                <div class="mb-2 " id="dataContainer">
                    {{#if (eq data.notes.status 404)}}
                    <div id="alert404MsgContainer" class="alert alert-primary mb-1">You have not sent any <b>Thank
                            You</b>
                        notes!</div>
                    {{else}}
                    {{#if (eq data.notes.status 500)}}
                    <div id="alert500MsgContainer" class="alert alert-danger mb-1">Failed to fetch sent information.
                        Error:
                        {{data.notes.error}}</div>
                    {{else}}
                    <div class="row">
                        {{#each data.notes.data as |note|}}
                        <div class="col-md-6 mb-4 custom-col">
                            <div class="card mb-4" style="box-shadow: 10px 5px 5px lightgray">
                                <div class="card-body">
                                    {{{note.message}}}
                                    <p class="text-black-50 text-end">
                                        <small>{{note.user}}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
{{!-- <footer class="mt-5 border border-top" style="background-color: rgb(249,249,249); background-image: none"
    class="mt-5 h-23 d-flex align-items-center justify-content-center">
    <div class="text-center ">

        <p class="lh-1 p-5 text-dark font-weight-bold" style="font-weight: bolder"><i class="fa-solid fa-minus"></i><i
                class="fa-solid fa-minus"></i><i class="fa-solid fa-minus"></i><i class="fa-solid fa-minus"></i><i
                class="fa-solid fa-minus"></i>BraviSSimo<i class="fa-solid fa-minus"></i><i
                class="fa-solid fa-minus"></i><i class="fa-solid fa-minus"></i><i class="fa-solid fa-minus"></i><i
                class="fa-solid fa-minus"></i></p>
    </div>
</footer> --}}
<script src="/js/util.js"></script>
<script src="/js/logout.js"></script>

{{!-- d-flex justify-content-center align-items-center --}}